
<div class = "center jumbotron">
	<h1>It's easier to find a friend when you have a friend.</h1>
	<h2>Confer connects you to a friend for your next conference.</h2>
	<h2>Effortless calls and texts without revealing your contact info</h2>
	<%= link_to("try it", :create_user, class: "btn btn-lg btn-primary") %>
</div>

This is the homepage.
