@import 'bootstrap-sprockets';
@import 'bootstrap';

/* some generic rules.. */



body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.phonepin {
	display: block;
	font-size: 3em;
	padding: 14px;
	margin: 14px;
	border-radius: 14px;
}