@import 'bootstrap-sprockets';
@import 'bootstrap';

/* some generic rules.. */



body {
  padding-top: 60px;
  background-color: #eee;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;

}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.phonepin {
	display: block;
	font-size: 3em;
	padding: 14px;
	margin: 14px auto;
}

.none{
	display: none;
}

.marg{
	margin: 1em 0.5em;

}

.tall{
	height: 70px;
}

#chat{
	height: 200px;
	overflow: scroll;
}

/////////////////////
/// sign in and up forms
////////////////////

