
<div class="row">
	<div class ="col-md-8">
		<div class="panel panel-danger">
			 <div class="panel-heading"><h1><%= @conference %></H1> </div>
		<div class ="panel-body"><%= @friend %></div>
		<div class ="panel-footer"><h1>Call or txt (215) 490-9443 to connect</h1></div>
	</div>
	</div>
	<div class="col-md-4">
		<h2>Recent signups</h2>
		<ul class="list-group">
			<% @recent_conferences.each do |key, value| %>
				<li class="list-group-item">
				<span class="badge"><%= value%></span>
				 <%= link_to key, members_results_path(topic: key) %>
				</li> 
			<% end %>
		</ul>
	</div>
</div>
