<h1>Members#index</h1>
<p>Find me in app/views/members/index.html.erb</p>

Here is some stuff that a signed in member can do.
-look at the current sign-up-for conference
-see if linked or not
-unlink if desired
-search for conferences
-sign up for a conference
